<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejserver.apps.ej.dao.extend.OrderLineExtendMapper">

  <select id="findOrderLineInfo" resultMap="findOrderLineInfoMap">
        select od.id as OId,
				od.order_time as OTime,
				odl.id as OdlId,
				odl.number as OdlNumber,
        p.name as pName,
				c.realname as cName,
				concat(a.province,'省',a.city,'市',a.area,'区',a.address) as address
        from ej_product  as p,
        ej_order AS	od ,
				ej_order_line as odl ,
				ej_customer as c,
        ej_address as a
        where odl.product_id=p.id
                and od.id=odl.order_id
				and c.id=od.customer_id
				and od.address_id=a.id
  </select>
  <resultMap id="findOrderLineInfoMap" type="com.ejserver.apps.ej.bean.extend.OrderLineExtend">
      <id column="OdlId" property="id"/>
      <result column="OdlNumber" property="number"/>

      <result column="pName" property="productName"/>
      <result column="cName" property="customerName"/>
      <result column="address" property="address"/>
    <association property="order" javaType="com.ejserver.apps.ej.bean.Order">
        <id column="OId" property="id"/>
        <result column="OTime" property="orderTime"/>
    </association>
  </resultMap>
</mapper>