<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejserver.apps.ej.dao.extend.OrderExtendMapper">
    <select id="queryBasic" resultMap="orderVMResultMap">
        select
        o.id as o_id,
        o.total as total,
        o.order_time as orderTime,
        c.realname as customerName,
        w.realname as waiterName,
        a.city as address
        from ej_order o,ej_customer c,ej_waiter w,ej_address a
        <where>
            o.customer_id = c.id
            AND o.waiter_id = w.id
            AND o.address_id = a.id
            <if test="customerId!=null">
                AND c.id = #{customerId}
            </if>
            <if test="waiterId != null">
                AND w.id = #{waiterId}
            </if>
        </where>
    </select>
    <resultMap id="orderVMResultMap" type="com.ejserver.apps.ej.bean.VM.OrderVM">
        <id column="o_id" jdbcType="BIGINT" property="orderId" />
        <result column="customerName" property="customerName" />
        <result column="waiterName"  property="waiterName" />
        <result column="address"  property="address" />
        <result column="total"  property="total" />
        <result column="orderTime"  property="orderTime" />
    </resultMap>
</mapper>