<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejserver.apps.ej.dao.extend.OrderLineExtendMapper">

  <select id="findOrderRightJoinOrderLine" resultMap="findOrderRightJoinOrderLineMap">
        select od.id as OId,od.order_time as OTime,odl.id as OdlId,odl.number as OdlNumber
        from
        ej_order AS	od Right JOIN ej_order_line as odl on
        od.id=odl.order_id
  </select>
  <resultMap id="findOrderRightJoinOrderLineMap" type="com.ejserver.apps.ej.bean.extend.OrderLineExtend">
      <id column="OId" property="id"/>
      <result column="OTime" property="orderTime"/>
    <association property="orderLine" javaType="com.ejserver.apps.ej.bean.OrderLine">
      <id column="OdlId" property="id"/>
      <result column="OdlNumber" property="number"/>
    </association>
  </resultMap>
</mapper>